
@{
    ViewData["Title"] = "Chamadas";
}

<div class="row">

    <div>
        <table class="table table-hover" id="tableCode">
            <thead>
                <tr>
                    <th><h4><font color="white">Code (CU)</font></h4></th>
                    <th><h4><font color="white">Destination</font></h4></th>
                    <th><h4><font color="white">Item</font></h4></th>
                    <th><h4><font color="white">Start</font></h4></th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/calls.js"></script>
<script type="text/javascript" src="~/lib/amplify-1.1.2/individual/amplify.core.js"></script>
<script type="text/javascript" src="~/lib/amplify-1.1.2/individual/amplify.store.js"></script>