@{
    ViewData["Title"] = "Gravação de Pontos";
}

<link href="~/css/configPoints.css" rel="stylesheet" />
<link href="~/css/leaflet.css" rel="stylesheet" />
<link href="~/css/leaflet_awesome_number_markers.css" rel="stylesheet" />
<link href="~/css/site.css" rel="stylesheet" />

<div id="text">   </div>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/leaflet/leaflet-0.7.3.js"></script>
<script src="~/js/leaflet_awesome_number_markers.js"></script>
<script src="~/js/configPointsAux.js"></script>